.nav-desktop
	display: none

@media screen and ($tablet)
	.nav-desktop
		display: block
		position: fixed
		top: 0
		left: 1em
		.nav-brand
		ul, li 
			display: inline-block
		ul
			li
				list-style-type: none

