* {
  box-sizing: border-box; }

*:before, *:after {
  box-sizing: inherit; }

.grid {
  margin: 2em;
  margin-top: 4em; }

header {
  height: 25em; }
  header h1 {
    font-size: 3em;
      font-size-margin: 0.67em 0;
      font-size-position: relative;
      font-size-top: 4em;
      font-size-left: 2em; }

.nav-desktop {
  display: none; }

@media screen and (min-width: 768px) {
  .nav-desktop {
    display: block;
    position: fixed;
    top: 0;
    left: 1em; }
    .nav-desktop ul, .nav-desktop li {
      display: inline-block; }
    .nav-desktop ul li {
      list-style-type: none; } }
